<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>曦望杂志社</title>
	<link rel="stylesheet" type="text/css" href="/static/website/css/index.css" />
	<script src="/static/website/js/jquery-1.8.3.min.js"></script>
</head>
<body>
	<header id="header">
		<div class="container">
			<a href="http://www.xiwangzz.com" class="logo"><img src="/static/website/img/logo.png" alt="logo"></a>
			<ul class="nav">
				<li><a href="/">首页</a></li>
				<li>|</li>
				<li><a href="#" class="active">社团简介</a></li>
				<li>|</li>
				<li><a href="/magzine">杂志阅读</a></li>
				<li>|</li>
				<li><a href="/contact">联系我们</a></li>
			</ul>
		</div>
	</header>
	
	<div class="section" style="text-align: center;padding-top: 100px;padding-left: 30px;">
		<img src="/static/website/img/about_img1.png" alt="梦想启程">
		<p>
			从一无所有到一家精英云集的大型社团，<br>
			今天，曦望杂志社迎来了两周岁的生日！<br>
			在这举社欢庆的日子里，让我们一同乘上时光的飞船，回溯那些曾<br>
			经的点滴岁月，重温过往，并一同为我们的，梦想翻开新的篇章！
		</p>
		<img src="/static/website/img/about_img2.png" alt="10杂志">
		<p>
			两年以来，曦望杂志社一共发行了十期杂志（其中八期电子刊，两期实体刊）<br>
			从始至终，曦望杂志社一直致力于<br>
			打造一个文学爱好者学习、分享、追梦的舞台<br>
			我们坚信：即使梦想再小，也有散发光芒的那一刻，为了那一刻的到来，<br>
			我们愿意和你一起努力，一起成长！
		</p>

		<p>风|雨|再|大 不|忘|初|心</p>
	</div>

	{% include 'website/footer.html' %}
</body>
<script>
	$(document).ready(function() {
	
	});

</script>
</html>