@font-face {
	font-family: "fzljd";
	src: url("/static/website/fonts/fzljd.eot"); /* IE9 */
	src: url("/static/website/fonts/fzljd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/static/website/fonts/fzljd.woff") format("woff"), /* chrome, firefox */
	url("/static/website/fonts/fzljd.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
	url("/static/website/fonts/fzljd.svg#fzljd") format("svg"); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}

*{
	margin: 0;
	padding: 0;
}
body{
	background: url('/static/website/img/bg_texture.png');
}
#header{
	width: 100%;
	z-index: 100;
}
#header .container{
	max-width: 1200px;
	margin:0 auto;
	position: relative;
}
#header .logo{
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: transform 1s linear;
}
#header.oneline .logo{
	transform: translateX(-500px) scale(0.5);
}
@media screen and (max-width:980px){
	#header.oneline .logo{transform: translateX(-400px) scale(0.5);}
}
@media screen and (max-width:700px){
	#header.oneline .logo{transform: translateX(-350px) scale(0.5);}
}
@media screen and (max-width:650px){
	#header.oneline .logo{transform: translateX(-300px) scale(0.5);}
}

#header .nav{
	transition: transform 1s linear;
	text-align: center;
	font-size: 20px;
}
#header .nav li{
	list-style: none;
	display: inline-block;
	margin:0 1vw;
}

#header .nav li a{
	color: #000;
	text-decoration: none;
	font-family: "fzljd";
	padding:5px 1vw;
}
#header .nav li a.active{
	background-image: url('/static/website/img/hover.png');
	background-size: 100% 100%;
	color:#fff;
}
#header.oneline .nav{
	transform: translate(50px,-80px);
}


#fullpage .section{
	background-size:cover;
	background-position: center;
}
#fullpage .section:nth-child(1){
	background-image: url('/static/website/img/index_section1_bg.png');
}
#fullpage .section:nth-child(2){
	background-image: url('/static/website/img/index_section2_bg.png');
}
#fullpage .section:nth-child(3){
	background-image: url('/static/website/img/bg_texture.png');
}


.footer{
	bottom: 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.footer .line{
	margin:0 auto;
	max-width: 1200px;
	height: 16px;
	background: url('/static/website/img/line.png');
	background-size: 100% 100%;
}
.footer .qrcode{
	float: left;
	margin-top: -10px;
	margin-left: 100px;
	height: 15vh;
}



#fullpage_navigation{
	width: 100%;
	position: absolute;
	z-index: 100;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
#fullpage_navigation ul{
	max-width: 1200px;
	margin: 0 auto;
}
#fullpage_navigation li{
	list-style: none;
}
#fullpage_navigation li a{
	width: 10px;
	height: 13px;
	display: block;
	background-image: url('/static/website/img/navigation.png');
	margin:30px; 
	pointer-events: all;
}
#fullpage_navigation li.active a{
	width: 13px;
	height: 19px;
	background-image: url('/static/website/img/navigation_active.png');
}

.flipster{position: absolute;left:45%;}
.flip-items{margin:0 auto;padding:0;list-style-type:none;display:block;}
.flip-items,.flip-item{margin:0 auto;padding:0;list-style-type:none;display:block;transform: translate(0,-50%);}
.flip-item{margin:0 auto;position:absolute;list-style-type:none;display:block;padding:0;-ms-transition:all 350ms ease-out;-o-transition:all 350ms ease-out;transition:all 350ms ease-out;-moz-transition:all 350ms ease-out;-webkit-transition:all 350ms ease-out;}
.flip-item.flip-prev{padding-right:100px;transform: translate(-100%,-50%) scale(0.8);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.flip-prev,.flip-next{-webkit-transition-delay:58.333333333333336ms;transition-delay:58.333333333333336ms;z-index:2;-moz-transition-delay:58.333333333333336ms;-o-transition-delay:58.333333333333336ms;}
.flip-next{-webkit-transition-delay:58.333333333333336ms;transition-delay:58.333333333333336ms;z-index:2;-moz-transition-delay:58.333333333333336ms;-o-transition-delay:58.333333333333336ms;}
.flip-item.flip-next{padding-left:40px;transform: translate(100%,-50%) scale(0.8);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.flip-item.flip-current{visibility:visible;z-index: 1000;}
.flip-current{transform: translate(0,-50%);}
.flip-prev{-webkit-transition-delay:58.333333333333336ms;transition-delay:58.333333333333336ms;z-index:2;-moz-transition-delay:58.333333333333336ms;-o-transition-delay:58.333333333333336ms;}
.flip-hidden{visibility:hidden;}
.flip-current .tcenter{opacity:1;}


.flipster ul{position:relative;list-style-type:none;}
.flipster ul li{position:absolute;top:0;left:0;}
.flipster ul li,.flipster ul li a{display:block;}

.flipster ul li a{width:200px;height:300px;display:block;}
.flipster ul li a img{width:100%;height:100%;}


.section{
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
